<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correio</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <div class="correio">
        <h1>Correio</h1>
    </div>
    <div class="carta">
        <form method="POST">
                <p>Destinatário: <input type="text" placeholder="Digite o Destinatário"/></p>
                <p>Data: <input type="text" placeholder="__/__/____"></p>
                <p>Remetente: <input type="text" placeholder ="Digite o Remetente"></p> 
                <p>Mensagem: <textarea class="mensagem" placeholder="Mensagem"></textarea></p>
                <button type="button">Enviar</button>
            </form>
    </div>

    

</body>
</html>