<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./static/login.css">
</head>
<body>
    <div class = "page">
        <form method="POST" class="formLogin">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for='nome'>Nome</label>
            <input type="nome" placeholder="Digite seu nome" autofocus="true" id="nome" name="nome" />
            <P></P>
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha"  id="senha" name="senha"/>
            <P></P>
            <input type="submit" value="Acessar" class="btn" />
        </form>
    </div>  

</body>
</html>